body {
  background: white;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

#root {
  /*...*/
}

#drop-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: transparent;
  z-index: 1;
}

.file-container {
  position: fixed;
  box-sizing: border-box;
  width: 64px;
  cursor: pointer;
  z-index: 2;
}

.file-container > .file-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}

.file-container > .file-name {
	width: 128px;
	margin: 0px -32px;
	text-align: center;
  word-wrap: break-word;
  font-size: 14px;
}
