body {
  background: black;
  margin: 0px;
  padding: 0px;
}

#root {
  /*...*/
}

/* FIXME: Testing */
#temp-drop-element {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: transparent;
  z-index: 1;
}
