body {
  background: white;
  margin: 0px;
  padding: 0px;
  font-family: "Neue Haas Grotesk", sans-serif;
  font-weight: 400;
}

#root {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header {
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 128px;
  display: flex;
  padding: 32px;
  flex-direction: row;
  align-items: center;
  background: transparent;
  justify-content: flex-start;
}

#header > p.banner {
  height: 64px;
  font-size: 64px;
  line-height: 64px;
  margin: 0px;
  font-weight: 800;
  color: black;
  text-transform: uppercase;
}


#subtitle {
  position: absolute;
  z-index: 0;
  top: 100px;
  left: 32px;
  box-sizing: border-box;
  margin: 0px;
  font-size: 18px;
  max-width: 256px;
  color: black;
  font-weight: 400;
}
#subtitle > .red {
  color: #F02D09;
  font-weight: 400;
}
#subtitle > .mobile {
  display: none;
  width: 189px;
  text-align: left;
}

#drop-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  z-index: 1;
}

#uploader {
  display: none;
}

.file-container {
  position: absolute;
  box-sizing: border-box;
  width: 64px;
  cursor: pointer;
  z-index: 2;
}

.file-container > .file-icon {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #B00;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  line-height: 72px;
  margin-bottom: 5px;
  background-size: 64px 64px;
  background-position: 0px 0px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.file-container > .file-name {
  width: 128px;
  margin: 0px -32px;
  text-align: center;
  word-wrap: break-word;
  font-size: 13px;
  color: black;
  font-weight: 600;
  transform: translateY(-16px);
  opacity: 0;
  position: relative;
  z-index: 0;
  cursor: pointer;
  transition: transform linear 0.15s, opacity linear 0.15s;
}

.file-container:hover > .file-name {
  transform: translateY(0px);
  opacity: 1;
}

@media only screen and (max-device-width : 640px) {
  #header {
    justify-content: center;
  }
  #header > p.banner {
    font-size: 32px;
  }
  .file-container > .file-icon {
    font-weight: 600;
  }
  .file-container > .file-name {
    transform: translateY(0px);
    opacity: 1;
    font-size: 14px;
    font-weight: 400;
  }
  #subtitle > .first, #subtitle > .red:not(.mobile) {
    display: none;
  }
  #subtitle > .mobile {
    display: inline-block;
  }
  #subtitle {
    font-size: 15px;
    width: 100vw;
    max-width: 100vw;
    left: 0px;
    text-align: center;
  }
}
